body {
  margin: 0;
  text-align: left;
}

.container {
  display: flex;
  height: 100vh;
}

.container .graphic {
  flex: 1.2;
  background: linear-gradient(173.18deg, #338ee1 0%, #024784 98.9%);
}

.container .formLeft {
  padding: 40px;
  flex: 1;
}

.container .formLeft .topBar {
  display: flex;
}

.container .formLeft h1 {
  padding: 30px 0 20px;
}
h1 {
  text-align: left;
}

#attributeList ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.buttons {
  text-align: center;
}
.buttons button {
  font-size: 20px;
  border: none;
  padding: 10px;
  margin: 10px 30px 10px 0;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  background-color: #328ee0;
  color: white;
  width: 150px;
}
.buttons button:disabled {
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  background-color: #a4bace;
  color: white;
}
a {
  display: none;
}
.verificationInfoText {
  display: none !important;
}
label {
  text-align: left;
  padding: 10px 0;
}

#email.textInput {
  width: 80%;
  margin: 10px 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
#email.textInput:focus {
  outline: none;
}
.intro p {
  display: none !important;
}

.attrEntry input:invalid {
  outline: none;
}
.helpText {
  display: none;
}
