* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  text-align: left;
}

.container {
  display: flex;
  height: 100vh;
}

.container .graphic {
  flex: 1.2;
  background: linear-gradient(173.18deg, #338ee1 0%, #024784 98.9%);
}

.container .formLeft {
  padding: 40px;
  flex: 1;
}

.container .formLeft .topBar {
  display: flex;
}

.container .formLeft h1 {
  padding: 30px 0 20px;
}
h1 {
  text-align: left;
}

#attributeList ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.buttons {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.buttons.verify {
  display: block;
}
.buttons button {
  font-size: 16px;
  border: none;
  padding: 10px;
  margin: 10px 30px 10px 0;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #8888;
  outline: none;
  cursor: pointer;
  background-color: #328ee0;
  color: white;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button:disabled {
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #8888;
  outline: none;
  background-color: #a4bace;
  color: white;
}
a {
  display: none;
}
.verificationInfoText {
  display: none !important;
}
label {
  text-align: left;
  padding: 10px 0;
}

#email.textInput {
  width: 80%;
  margin: 10px 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
#email.textInput:focus {
  outline: none;
}
.intro p {
  display: none !important;
}

.attrEntry input:invalid {
  outline: none;
}
.helpText {
  display: none;
}

#email_ver_but_send {
  font-size: 0px;
}
#email_ver_but_send:before,
#email_ver_but_send:after {
  font-size: 16px;
}
#email_ver_but_send:before {
  content: "Send Verification Code";
}
#cancel {
  font-size: 0px;
}
#cancel:before,
#cancel:after {
  font-size: 16px;
}
#cancel {
  content: "Back To Login";
}
