.container {
  display: flex;
}

.container .graphic {
  flex: 1.2;
  background: "linear-gradient(173.18deg, #338ee1 0%, #024784 98.9%);";
}

.container .formLeft {
  padding: 20px;
}

.container .formLeft h1 {
  padding: 30px 20px;
}
