body {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.container .graphic {
  flex: 1.2;
  background: linear-gradient(173.18deg, #338ee1 0%, #024784 98.9%);
}

.container .formLeft {
  padding: 20px;
}

.container .formLeft .topBar {
  display: flex;
}

.container .formLeft h1 {
  padding: 30px 0 20px;
}
h1 {
  color: blue;
  text-align: center;
}
.intro h2 {
  text-align: center;
}
.entry {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.entry .entry-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.entry .entry-item input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: gray;
}
.intro {
  display: none;
}
.divider h2 {
  text-align: center;
}
.create {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
